#login_email{
	color:rgb(119, 119, 119);
}

.img-thumbnail {
	width: 100%;

}

#CS{
	color:rgb(250, 154, 11);
}

#thumbnail{
	border-radius: 100%;
}

#CS:hover{
	color:rgb(255, 187, 10);
}

#Bit{
	color:white;
}

#Bit:hover{
	color:rgb(202, 198, 198);
}

#campaign_page {

	background-color: rgb(233, 233, 233);
	padding: 15px;
}

#browse_name {

	text-align: center; 
}

#kudos_button {

	width: 200px;
}

#submit_button {

	width: 100%;

}

.index_bg {
	background-image: url('../static/img/bitcoin_bg.jpg');
}

#landing_text {
	background: black;
	color: grey; 
	width: 100%; 
	padding: 15px;
}

#navbar_custom {
	background: black; 
}

#landing_btc {
	width: 40px;
	height: 40px;
}

#github_button {
	width: 200px;
} 

#btc_image {
	width: 220px;
	height: 220px;
}