#login_email{
	color:rgb(119, 119, 119);
}

.img-thumbnail {
	width: 100%;

}

input[type="radio"] {
	margin: 0px 10 15;
}

#preview_img{
	visibility: hidden;
	padding: 10px 0px 0px 10px;
}

#CS{
	color:rgb(250, 154, 11);
}

#Go{
	color:white;
}

#supporter_link {
	margin-top: -3px;
}

#supporter_page {
	background-color: rgb(233, 233, 233);
	padding: 15px;
	height: 500px;
	margin-left: -50px;
}

.profile_link {
	background-color: rgb(233, 233, 233);
	padding: 15px;
	height:340px;
}

.profile_link:after {
	background-color: rgb(233, 233, 233);
	padding: 15px;
	height:340px;
}

#browse_name {

	text-align: center; 
}

#kudos_button {

	width: 200px;
}

#submit_button {

	width: 100%;

}

.index_bg {
	background-image: url('../static/img/bitcoin_bg.jpg');
}

#landing_text {
	background: black;
	color: grey; 
	width: 100%; 
	padding: 15px;
}

#navbar_custom {
	background: black; 
}

#landing_btc {
	width: 40px;
	height: 40px;
}

#github_button {
	width: 200px;
} 

#btc_image {
	width: 220px;
	height: 220px;
}