{% extends 'base.html' %}
{% block body %}

<div class="container-fluid" >
	<div class="row">
		 <div class="col-md-1">
        </div> 
		<div class="col-md-9"> 
		<h1>Browse students.</h1> 
        <h1><small>Learn more about students and their interests.</small></h1><br> 
    </div> 
	</div> 

	<div class="row">
        <div class="col-md-1">
        </div> 


	 	{% for column in user_list | sort | slice(3) %}
	 	<div class="col-md-3">
            
    	 		{%- for user in column -%}
                <div class="profile_link">
        			<div><a href="/campaign/{{user.campaign.id}}"><img id="thumbnail" src="./static/images/{{user.img}}" class="img-thumbnail"></a></div>
        			<h3 id="browse_name">{{user.first_name}} {{user.last_name}}</h3><br> 
                </div> 
    			{%- endfor -%}
		</div> 

		{% endfor %}
	</div>
    <div id="bottom_padding"></div>
	 


</div>


{% endblock %}

