{% extends 'base.html' %}
{% block body %}
{% for user in user_list %}

	<h2>Email: {{user.email}} Name: {{user.first_name}} {{user.last_name}}</h2>
	<a href="/campaign/{{user.id}}"><img src="./static/images/{{user.img_2}}" class="img-circle"></a>
		{% endfor %}
	</h2>
	<a class="btn btn-default" href="#" role="button">Link</a>


{% endblock %}
{#
<!-- <h2>{{user.campaign.linkedin}} {{user.campaign.github}} {{user.campaign.twitter}} </h2> -->
<!-- {% for user in user_list %}
	{% for campaign in campaign_list %}
    <a href="/campaign/{{campaign.id}}"><img src="../static/images/{{campaign.id}}.png"></a>
{% endfor %} -->


    <!-- <h2>{{user.first_name}} {{user.last_name}} </h2>
    <h2>{{user.goal}} </h2> -->
    <!--  -->
   <!--  <h2>{{user.deadline_date}} </h2> -->
   #}
