{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
	<div class="row">
        <div class="col-md-1">
        </div> 


	 	{% for column in user_list | sort | slice(4) %}
	 	<div class="col-md-3">
	 		{%- for user in column -%}
			<p><span><a href="/campaign/{{user.id}}"><img src="./static/images/{{user.img_2}}" class="img-thumbnail" </a></span></p>
			<h3 id="browse_name">{{user.first_name}} {{user.last_name}}</h3><br>  
			{%- endfor -%}
 
		</div> 

		{% endfor %}

		 

	</div>
	 


</div>


{% endblock %}

