{% extends 'base.html' %}
{% block body %}

<div class="container-fluid" >
	<div class="row">
		 <div class="col-md-1">
        </div> 
		<div class="col-md-9"> 
		<h1>Browse students.</h1> 
        <h1><small>Learn more about students and their interests.</small></h1><br> 
    </div> 
	</div> 

	<div class="row">
        <div class="col-md-1">
        </div> 


	 	{% for column in user_list | sort | slice(3) %}
	 	<div class="col-md-3" id="campaign_page">
	 	
	 		{%- for user in column -%}
			<p><span><a href="/campaign/{{user.id}}"><img src="./static/images/{{user.img_2}}" class="img-thumbnail" </a></span></p>
			<h3 id="browse_name">{{user.first_name}} {{user.last_name}}</h3><br>  
			{%- endfor -%}
 
		</div> 

		{% endfor %}

		 

	</div>
	 


</div>


{% endblock %}

