{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 gray">
            <h4>Contact us</h4>
            <h4><small>
                <ul class="fa-ul">
                    <li><i class="fa fa-lg fa-envelope-o"></i> <a id="email" href="mailto:hello.hackerbees@gmail.com?Subject=Hello,%20Hackerbees!" target="_top">hello.hackerbees@gmail.com</a></li>
                </ul>
            </small></h4><br>
        </div>
    </div>
</div>

{% endblock %}