{% extends "base.html" %}
{% block body %}
<form method="post">
<!--     <input type="text" name="first_name" placeholder="First Name"><br>
    <input type="text" name="last_name" placeholder="Last Name"><br> -->
    <label class="checkbox inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
    </label>
    <label class="checkbox inline">
    <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
    </label>
    <label class="checkbox inline">
    <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
    </label>
    <input type="text" name="age" placeholder="age"><br>
    <input type="text" name="description" placeholder="Tell us about yourself"><br>
    <input type="text" name="cost" placeholder="How much it will cost"><br>
    <input type="text" name="cost" placeholder="How much it will cost"><br>
    <input type="submit">
</form>
{% endblock %}

