{% extends "base.html" %}
{% block body %}
<form method="post">

<h1 class="decoration text-center proj"><span class="nobacgr">Create Your Profile</span></h1>
<div class="create_projects">
    <div class="row-fluid">
        <div class="span3">
            <h4 class="text-center">Step 1: <span class="green">Personal Info</span></h4>
        </div>
        <div class="span3 bleft">
            <h4 class="text-center">Step 2: <span class="green">Your Interests</span></h4>
        </div>
        <div class="span3 bleft">
            <h4 class="text-center">Step 3: <span class="green">Project Description</span></h4>
        </div>
        <!-- <div class="span3 bleft">
            <h4 class="text-center">Step 4: <span class="green">Project page</span></h4>
        </div> -->
    </div>
    <div class="row-fluid border_proj duration">
        <div class="span3 ">
            <div class="column_project">
                <h4 class="text-center">Personal Info:</h4>
                <form class="form-search" >
                    <input type="text" name="first_name" class="inputp search-query span12" placeholder="First Name">
                    <input type="text" name="last_name" class="inputp search-query span12" placeholder="Last Name">
                    <!-- <input type="text" name="age" class="inputp search-query span12" placeholder="Age"> -->
                    <!-- <input type="text" name="city" class="inputp search-query span12" placeholder="City">
                    <select class="" name="state">
                        <option>State</option>
                        <option>CA</option>
                        <option>NY</option>
                    </select> -->
                    <input type="text" name="linkedin" class="inputp search-query span12" placeholder="Linkedin Url">
             
                    <input type="text" name="twitter" class="inputp search-query span12 tweet" style="padding-left: 30px;" placeholder="Account Name">

                </form>
            </div>
        </div>
        <div class="span3">
            <div class="bleft column_project">
                <h4 class="text-center">Additional Info:</h4>
                <form class="form-search">
                	<input type="text" class="inputp search-query span12" placeholder="Video URL">
                	 <div class="upload_pic1 inline">
                        <input type="file" name="upload"/>
                    </div>
                    <div class="upload_pic2 inline">
                        <input type="file" name="upload"/>
                    </div>
                  
                	
                    <input type="text" class="inputp search-query span12" placeholder="When will you begin your class?">

                </form>
            </div>
        </div>
        <div class="span3">
            <div class="bleft column_project">
                <h4 class="text-center">Project Description</h4>
                <form class="form-search">
                	<input type="text" name="tagline" class="inputp search-query span12" placeholder="Your tagline">
                	
                    <textarea id="redex2" name="description" class="inputp search-query span12" rows="9" placeholder="Short description of what you plan to study and your interests."></textarea>
                	
                </form>
            </div>
        </div>

    <div class="decoration text-center create_butt">
    	<span class="nobacgr_whit">
    		<button class="btn btn-large search-query" type="submit"> 
    			<span class="butt_small">
    				<strong>CREATE</strong>
    			</span></button>
    		</span>
    		<a name="id_cont">
    		</a></div>
        
        </div>
    </div>

{% endblock %}


