{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
 	<div class="row">
 		<div class="span2">
      <!--Sidebar content-->
    	</div>

	    	<div class="span10">
		<form method="post">
		    <input type="text" name="email" placeholder="Email"><br>
		    <input type="password" name="password" placeholder="Password"><br>
		    <input type="text" name="first_name" placeholder="First Name"><br>
		    <input type="text" name="last_name" placeholder="Last Name"><br>

			<button class="btn" type="submit">Registers</button>
		    <!-- #Need to add label for student or supporter -->
		</form>
			
		<form class="navbar-form navbar-right">
            <fb:login-button autologoutlink="true" class="navbar-btn"></fb:login-button>
        </form>


	</div>
</div>
</div>
</html>
{% endblock %}

