{% extends 'base.html' %}
{% block body %}
<style>
      body { background: url(../static/img/bitcoin_bg.jpg); 
      background-repeat: no-repeat;
   	background-size: 100% ;}
      .container { background: ; }

</style> 

<div class="container-fluid">
	<div class="row">
		<br> 
		<br> 
	</div> 
		<div class="row"> 
		<div class="text-center" id = "landing_text">
			<br> 
			<h1> CS:Bit </h1>
			<h3> The first bitcoin crowd-funding platform for women in computer science. </h3> 
			<br> 
			<br> 
			<br> 
		</div> 
</div>
</div>
{% endblock %}
