{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4>Password Recovery</h4>
            <h4><small>Please enter email to recover password</small></h4><br>
            <form action="/recovery" method="post">
                <div class="form-group">
                    <label for="email_label">Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email"><br>
                    <input type="submit" class="btn btn-primary" id="submit_button" value="Submit"><br>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}