{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" id="campaign_page">
            <div style = "width: 360">
                <a href="{{supporter.link}}"><img class="img-thumbnail" src="/static/images/{{supporter.img}}"></a>
            </div>
            <div id="supporter_div"> 
                <h1>{{supporter.first_name}} {{supporter.last_name}}</h1>
                {% if supporter.tagline %}
                    <h2 id="supporter_tagline"><small>{{supporter.tagline}}</small></h2>
                {% endif %}
                {% if supporter.description %} 
                    <h2><small id="description">{{supporter.description}}</small></h2>
                {% endif %}
            </div>
        </div>

        <div class="col-md-1" ></div>  

        <div class="col-md-7" id="supporter_page">
            <h2>Supporting</h2>
            <div id="supported">
                {% for s in supported %}
                    <div class="col-md-3">
                        <div class="profile_link">
                            <div><a href="/campaign/{{s[0].id}}"><img src="/static/images/{{s[1].img}}" class="img-thumbnail"></a></div>
                            <h3 id="browse_name">{{s[1].first_name}} {{s[1].last_name}}</h3><br> 
                        </div> 
                    </div>
                {% endfor %}
            </div>
        </div>    
    </div>
</div>
<div id="bottom_padding"></div> 

{% endblock %}